@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --gray-1: #7B7B7B;
  --gray-2: #A49D9D;
  --blue-1: #3C87CC;
  --blue-2: #1e6eaf;
  --white-1: #ffffff;
  --red-1: #FF6767;
}
html {
  font-family: roboto, sans-serif;
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  
}

.bg-radial {
  background-image: linear-gradient(45deg, #46BDF1, #3C87CC, #3149A1)
}

.main-container {
  min-height: 100vh;
  min-width: 100vw;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.title {
  font-size: 5rem;
  color: var(--white-1);
}

.title span {
  font-weight: 400;
}

.form {
  background-color: var(--white-1);
  padding: 4rem 2rem;
  gap: 1.5rem;
  border-radius: 15px;
  min-height: 35rem;
}

.form-title {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--gray-1);
  font-weight: 500;
}

.input {
  border-radius: 15px;
  border: 1px solid #A49D9D;
  padding: 0.5rem 1.5rem;
  width: 300px;
  height: 3.5rem;
}
.input:focus {
  outline: none;
  border: 2px solid var(--blue-1)
}

.button {
  background-color: var(--blue-1);
  color: var(--white-1);
  width: 100%;
  height: 3.5rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.button:hover {
  background-color: var(--blue-2);
}

.errors {
  color: var(--red-1);
  font-size: 1.3rem;
  list-style: circle;
}

.form-text {
  color: var(--gray-1);
  font-size: 1.2rem;
}

.form-link {
  color: var(--blue-1);
}

.medium-text {
  font-size: 1.2rem;
  color: var(--white-1);
}